@using LibraryGazi.Entity;
@model IEnumerable<Book>
@{
    ViewBag.Title = "AramaSonuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-4 mt-5">
    @using (Html.BeginForm("AramaSonuc", "Home", FormMethod.Get))
    {
        <div class="input-group mb-3 input-group-sm">
            <div class="input-group-prepend">
                <span class="input-group-text">Kitap Adı</span>
            </div>
            <input type="text" name="arama" class="form-control">
            <div class="input-group-append"> <button type="submit" class="btn btn-block btn-success" value="submit">Ara</button> </div>
        </div>


    }
</div>

<div class="row">
    <div class="col-md-9">

        @Html.Action("kitapGetir", "Home")
    </div>
</div>


