
@{
    ViewBag.Title = "Hakkinda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/template/css/style.css">
<link rel="stylesheet" href="/template/css/bootstrap.css">

<style>

    body{
        background-color:powderblue;
    }
    #hakkinda {
        background: rgba(0, 0, 0, 0.2);
        float: inherit;
        padding: 20px;
        border-radius: 5px;
        margin: 3% auto;
        width: 88%;
        font-size: 1.2rem;
         text-align: justify
    }
    .hak ul li {
        border-bottom:1px solid black;
    }
</style>

<div class="container mt-5 hak" id="hakkinda">
    <p>

        <div class="alert alert-success">
            Sıradan bir kütüphanenin ötesinde, milli bir arşiv, müze ve araştırma merkezi niteliği taşıyan Milli Kütüphane Başkanlığı gerçekleştirdiği hizmetlerle, Türk kültür, bilim, edebiyat ve sanat hayatına katkıda bulunmaktadır.
            Milli Kütüphane Başkanlığı tarafından gerçekleştirilen hizmetler ana başlıklar halinde aşağıda belirtilmiştir.
        </div>
        <hr />  
        <ul>
            <li>
                Kütüphanecilik hizmetleri
            </li>
            Milli Kütüphane Başkanlığı, çeşitli yollarla sağladığı materyalleri, gerekli teknik işlemleri tamamlandıktan sonra, okuyucu ve araştırmacıların hizmetine sunmaktadır. Ayrıca, kütüphaneler arası işbirliği uygulamaları çerçevesinde, araştırmacıların gereksinim duyduğu ve ülkemiz kütüphanelerinde bulunmayan eserleri yurtdışından getirtmektedir.
            <br />
            <li>
                Yayıncılık hizmetleri
            </li>
            Milli Kütüphane, Kuruluş Kanunu gereğince bibliyografyalar ve toplu kataloglar hazırlamakta ve yayınlamaktadır. Bunun dışında, çeşitli bilimsel veya mesleki konularda da yayınlar yapılmaktadır. 1993 yılında, Milli Kütüphane bünyesinde bir Basımevi'nin kurulması ile yayıncılık faaliyetleri nicelik ve nitelik olarak artış göstermiştir.
            <br />
            <li>
                Bilimsel, kültürel ve sanatsal toplantılar ile sergiler
            </li>
            Milli Kütüphane, belirli dönem ve zamanlarda, çeşitli toplantı ve sergiler düzenlemektedir. Ayrıca, Toplantı salonları ve sergi salonları ile düzenlenecek etkinliklere de ev sahipliği yapmaktadır.
            <br />
            <li>
                Yazma eserlerin konservasyon ve restorasyonu
            </li>
            Uzun yıllar, uzman personel eksikliği nedeniyle mevcut Konservasyon ve  Restorasyon Merkezini işletemeyen Milli Kütüphane Başkanlığı, yetersiz de olsa, birkaç personelin istihdam edilmesiyle birlikte yıpranmış el yazması ve nadir eserlerin bakım ve onarılması çalışmalarına başlamıştır.  Bu hizmetlerin yaygınlaştırılarak sürdürülmesi, teknik ve personel imkanlarının artırılmasına bağlıdır.<br />
            
            <li>
                Ülke kütüphanelerine önderlik etme, kütüphanecilik hizmetlerinde standartlaşmayı sağlama
            </li>
            Milli Kütüphane Başkanlığı, gerçekleştirdiği çalışmalarla kütüphaneler önderlik etmektedir. 1990 yılında başlayan otomasyon çalışmaları sırasında, Milli Kütüphane uluslar arası kütüphanecilik uygulamalarını adapte ederek uygulamaya başlamıştır. Milli Kütüphane’de gerçekleştirilen projeler, MARC (Makinaca Okunabilir Kataloglama) standartlarının ülke çapında yaygınlaşmasını sağlamıştır. Milli Kütüphane, kütüphanecilik camiası için adeta ikinci bir okul haline gelmiştir.
            <br />
            <li>
                Araştırma-Geliştirme faaliyetleri ve projeler geliştirme
            </li>
            Milli Kütüphane Başkanlığı, Kültür ve Turizm Bakanlığı’na bağlı birimler arasında, bilgi teknolojisi konusunda en çok proje geliştiren ve uygulayan birimdir. Günün şartları ve değişen ihtiyaçlar  doğrultusunda hizmet kalitesini yükseltmek için çeşitli projeler geliştirilerek uygulamaya konulması ve  yürütülmesi sağlanmaktadır.
        </ul>
    </p>

</div>