
@{
    ViewBag.Title = "Sartlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    body {
        background-color: powderblue;
    }

    #hakkinda {
        background: rgba(0, 0, 0, 0.2);
        float: inherit;
        padding: 20px;
        border-radius: 5px;
        margin: 3% auto;
        width: 88%;
        font-size: 1.2rem;
         text-align: justify
    }

    .hak ul li {
        
        margin-bottom:3px;
    }
</style>

<div class="container mt-5" id="hakkinda">
    <div >
        <ul>
          
            <li> 6 Ekim 2010 tarih ve 27721 sayılı Resmi Gazetede yayımlanan Milli Kütüphane Hizmetlerinden Yararlanılmasında Uygulanacak Usul ve Esaslar Hakkında Yönetmeliğinin 5. maddesine göre <strong>akademisyenler, kamu çalışanları ve emeklileri, bir meslek odası veya baroya kayıtlı meslek sahipleri, yazılı ve görsel basın mensupları, üniversite ve yüksekokul öğrencileri veya mezunları, öğrenim durumuna bakılmaksızın görme özürlü kullanıcılar ve yabancı uyruklu araştırmacılar</strong>  üye olabilirler.</li>
            <li> Bu kişiler, giriş kartı almak isterlerse kütüphaneye gelerek kayıt bölümüne başvurması, bağlı olduğu kurum veya kuruluştan alınmış kimlik belgelerini göstererek, kullanıcı giriş formunu doldurup imzalaması gerekir.</li>
            <li> Başvuran kişinin dijital fotoğraf makinesi ile fotoğrafı çekilerek, kullanıcı barkod numarası ile bu fotoğrafını içeren giriş kartı kendisine teslim edilir.</li>
            <li> Giriş kartının süresi dolan kullanıcıların, süre uzatımı için Üye Kayıt Bölümüne müracaat ettiklerinde eski kartlarını yanlarında getirmeleri gerekmektedir.</li>
            <li> Ayrıca, e-imzası ve mobil imzası olan okuyucular Kütüphaneye gelmeden online üyelik yaptırmak suretiyle dışarıdan erişime açık olan elektronik veri tabanlarından yararlanabilir ve taş plakları web üzerinden dinleyebilirler.</li>
            <li>Üye Kayıt Bölümü hafta içi her gün 9:00-12:30 ve 13:30-16:30 saatleri arasında hizmet vermektedir.</li>
        </ul>
 
</div>
</div>