*{
    box-sizing: border-box;
}


body {
    background: #F1F3FA;
}

/* Profile container */
.profile {
    position: relative;

    display: flex;
}

/* Profile sidebar */
.profile-sidebar {

    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 10px auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

#changefoto {
    background-color: rgb(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

#profile-usermenu {
    margin-top: 30px;

}

#profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
    display: block;

}

#profile-usermenu ul li:last-child {
    border-bottom: none;
}

#profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 1.2rem;
    font-weight: 400;

}

#profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;

}

#profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    text-decoration: none;
    color: orange;
}

#profile-usermenu ul li:hover {
    background-color: #fafcfd;
    text-decoration: none;
    color: orange;
}

#profile-usermenu ul li.active {
    border-bottom: none;
}

#profile-usermenu ul li.active a {
    color: orange;
    background-color: #f6f9fb;
    border-left: 2px solid orangered;
    margin-left: 2px;
}

/* Profile Content */
.profile-content {
    position: relative;

    display: flex;
    padding: 20px;
    background: #fff;
    min-height: 460px;
}
