<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ETKİNLİKLER</title>
    <meta name="viewport" content="width:device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style0.css">
</head>

<body>
   <nav class="navbar navbar-dark fixed-top navbar-expand-sm" style="background-color: orangered">
        <div class="container">
            <a href="/" class="navbar-brand">
                <i class="fas fa-users"></i> &nbsp;GROUPS
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link active">ANASAYFA</a>
                    </li>
                    <li class="nav-item">
                        <a href="groups.html" class="nav-link active">GRUPLARIM</a>
                    </li>
                    <li class="nav-item">
                        <a href="profile.html" class="nav-link active"><i class="fas fa-user"></i> &nbsp;PROFİL</a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
     <header>
     <div class="jumbotron  text-black bg-white">
            
        </div>


    </header>
    
    <div class="container">
       
        <div class="card-columns">

            <div class="card disable">
                <div class="embed-responsive ">
                    <img src="photos/trek.jpg" class="card-img-top img-thumbnail" alt="ankara dağı">
                </div>
                <div class="card-body">
                    <h4 id="etkinlik_adi"class="card-title">Ankara Dağına Yolculuk </h4>
                    <div class="font-weight-bold">Oluşturan: <span id="etkinlik-oluşturan" class="badge badge-danger"> <a class="text-white" href="#">Seda Şahin</a></span></div>
                    <div class="font-weight-bold">Yer: <span id="etkinlik-yer" class="badge badge-info">Kızılay AVM Önü</span></div>
                    <div class="font-weight-bold">Zaman: <span  id="etkinlik-zaman"class="badge badge-info">02.05.2019 08:00</span></div>
                    <div class="font-weight-bold">Kontenjan: <span id="etkinlik-kontenjan" class="badge badge-warning">7/21</span></div>

                    <p class="card-text">
                        <button class="btn btn-outline-light text-dark" data-toggle="collapse" data-target="#activity1"> Açıklama</button>

                        <div id="activity1" class="collapse text-justify">
                            Katılım sağlayabilen arkadaşlar ile belirtilen tarihte avm önünde buluşulacak .Saat 8.30 da otobüs kalkacaktır . Lütfen erken gelmeye özen gösterininz. Herkes kendi malzemesini sağlayacaktır.Yiyecek su ihtiyaçlarınızı yanınızda getiriniz.Tahmini etkinlik süresi 10 saattir.
                        </div>

                </div>
                <div class="card-footer">

                    <button class="btn btn-primary btn-block"><i class="fas fa-sign-in-alt"></i>&nbsp;KATIL</button>



                </div>
            </div>
<!-------------------------------------------------------------------------------------->
  <div class="card">
                <div class="embed-responsive ">
                    <img src="photos/uludag.jpg" class="card-img-top img-thumbnail" alt="uludag">
                </div>
                <div class="card-body">
                    <h4 id="etkinlik_adi"class="card-title">Uludağ Çıkarması </h4>
                    <div class="font-weight-bold">Oluşturan: <span id="etkinlik-oluşturan" class="badge badge-danger"> <a class="text-white" href="#">Seda Şahin</a></span></div>
                    <div class="font-weight-bold">Yer: <span id="etkinlik-yer" class="badge badge-info">Uludağ Giriş</span></div>
                    <div class="font-weight-bold">Zaman: <span  id="etkinlik-zaman"class="badge badge-info">02.05.2019 07:00</span></div>
                    <div class="font-weight-bold">Kontenjan: <span id="etkinlik-kontenjan" class="badge badge-warning">7/14</span></div>

                    <p class="card-text">
                        <button class="btn btn-outline-light text-dark" data-toggle="collapse" data-target="#activity2"> Açıklama</button>

                        <div id="activity2" class="collapse text-justify">
                            Katılım sağlayabilen arkadaşlar ile belirtilen tarihte avm önünde buluşulacak .Saat 8.30 da otobüs kalkacaktır . Lütfen erken gelmeye özen gösterininz. Herkes kendi malzemesini sağlayacaktır.Yiyecek su ihtiyaçlarınızı yanınızda getiriniz.Tahmini etkinlik süresi 10 saattir.
                        </div>

                </div>
                <div class="card-footer">

                    <button class="btn btn-primary btn-block"><i class="fas fa-sign-in-alt"></i>&nbsp;KATIL</button>



                </div>
            </div>




        </div>

    </div>

</body>

</html>
