<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width:device-width, initial-scale=1, shrink-to-fit=no">
    <title>Groups</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style0.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark fixed-top navbar-expand-sm" style="background-color: orangered">
        <div class="container">
            <a href="/" class="navbar-brand">
                <i class="fas fa-users"></i> &nbsp;GROUPS
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">ANASAYFA</a>
                    </li>
                    <li class="nav-item">
                        <a href="groups.html" class="nav-link active">GRUPLARIM</a>
                    </li>
                    <li class="nav-item">
                        <a href="profile.html" class="nav-link active"><i class="fas fa-user"></i> &nbsp;PROFİL</a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
    <header>
        <div class="jumbotron  text-white" style="background-color: white">
             <h3 class="text-secondary">Gruplarım</h3>
        </div>


    </header>
    <div class="container">
        <div class="card-columns">

            <div class="card">
               <div class="embed-responsive ">
                <img src="photos/trek.jpg" class="card-img-top img-thumbnail" alt="doga">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Ankara Trekking  <span class="badge badge-info">34 ÜYE</span></h4>
                    <div>Kuruluş: <span class="badge badge-light">02.05.2019</span></div>
                    
                    <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nesciunt ullam nostrum sunt maxime temporibus dolor, incidunt eos sequi ad provident, placeat modi alias excepturi magni, aut accusamus architecto necessitatibus. <button type="button" class="btn btn-light">...</button></p>

                </div>
                <div class="card-footer">

                    <button class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>&nbsp;Giriş</button>
                    <button class="btn btn-primary"><i class="far fa-plus-square"> </i>&nbsp;Etkinlik Oluştur</button>


                </div>
            </div>
            <!------------------------------------------>
            <div class="card ">
               <div class="embed-responsive ">
                <img src="photos/picnic.jpg" class="card-img-top img-thumbnail" alt="doga">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Picnic Heroes<span class="badge badge-info"> 6 ÜYE</span></h4>
                    <div>Kuruluş: <span class="badge badge-light">02.05.2015</span></div>
                    
                    <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nesciunt ullam nostrum sunt maxime temporibus dolor, incidunt eos sequi ad provident, placeat modi alias excepturi magni, aut accusamus architecto necessitatibus. <button type="button" class="btn btn-light">...</button></p>

                </div>
                <div class="card-footer">

                    <button class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>&nbsp;Giriş</button>
                    <button class="btn btn-primary"><i class="far fa-plus-square"> </i>&nbsp;Etkinlik Oluştur</button>


                </div>
            </div>
            <!--------------------------------------------------------------->
            <div class="card ">
               <div class="embed-responsive ">
                <img src="photos/masatenisi.jpg"   class="card-img-top img-thumbnail" alt="doga">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Gazi Masa Tenisi  <span class="badge badge-info">20 ÜYE</span></h4>
                    <div>Kuruluş: <span class="badge badge-light">02.05.2019</span></div>
                    
                    <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nesciunt ullam nostrum sunt maxime temporibus dolor, incidunt eos sequi ad provident, placeat modi alias excepturi magni, aut accusamus architecto necessitatibus. <button type="button" class="btn btn-light">...</button></p>

                </div>
                <div class="card-footer">

                    <button class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>&nbsp;Giriş</button>
                    <button class="btn btn-primary"><i class="far fa-plus-square"> </i>&nbsp;Etkinlik Oluştur</button>


                </div>
            </div>
          
           
          
        </div>

    </div>
</body>

</html>
