<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



</head>

<body>
    <div id="forgetModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-black text-center text-beauty">Lütfen kayıt olduğunuz e-posta bilginizi giriniz. Parolanız e-posta adresinize gönderilecektir.</p>
                    <form data-ajax-form="true" method="POST" action="" callback="loginComplete">
                        <input type="hidden" id="watcher_login_nonce" name="watcher_login_nonce" value="2c981c8a5d"><input type="hidden" name="_wp_http_referer" value="/">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                                </div>
                                <input type="text" name="Username" class="form-control input-lg-s" placeholder="E-Posta " autocomplete="new-password" required="">

                            </div>
                        </div>


                        <div class="clearfix"></div>

                        <div class="overflow">

                            <button type="button" class="btn bg-danger text-white float-right mr-1">GÖNDER</button>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-dark navbar-expand-sm" style="background-color: orangered">
        <div class="container">
            <a href="#" class="navbar-brand">
                <i class="fas fa-users"></i> &nbsp;GROUPS
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="hakkimizda.html" class="nav-link active">Hakkımızda</a>
                    </li>

                    <li class="nav-item">
                        <a href="iletisim.html" class="nav-link active">İletişim</a>
                    </li>
                    <li class="nav-item">
                        <a href="gırıs.html" class="nav-link active">Giriş</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div id="form2">
        <div class="form-group clearfix">
            <div class="col-25">
                <label for="email">E-MAIL</label>
            </div>
            <div class="col-75">
                <input type="text" name="email" class="form-control" autofocus>
                <!--geçerli email regex kontrlü ekle-->
            </div>
        </div>






        <div class="form-group clearfix">
            <div class="col-25">
                <label for="pass">PAROLA</label>
            </div>
            <div class="col-75">
                <input type="password" name="pass" class="form-control">
            </div>
        </div>
        <div class="form-group clearfix">
            <a data-toggle="modal" data-target="#forgetModal" id="forget" href="#">Parolamı Unuttum!</a>
        </div>

        <div>
            <input type="submit" value="GİRİŞ" class="butn">
            <!--giriş başarılı kutucuklar hatal uyarısı ekle dbden getirilecek veriler ile-->
            <input type="submit" id="kaydol" value="KAYDOL" class="butn">
        </div>
    </div>
    <footer class="footer">
        <h5>GROUPS. Tüm hakları saklıdır. 2019</h5>
    </footer>

    <script type="text/javascript">
        document.getElementById("kaydol").onclick = function() {
            location.href = "file:///C:/Users/sibel/Desktop/groups/kaydol.html";
        };

    </script>
    <script src="https://code.jquery.com/jquery-3.4.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>
