<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width:device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Document</title>
    <link rel="stylesheet" href="css/style0.css">
</head>

<body>
    <nav class="navbar navbar-dark fixed-top navbar-expand-sm" style="background-color: orangered">
        <div class="container">
            <a href="#" class="navbar-brand">
                <i class="fas fa-users"></i> &nbsp;GROUPS
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">ANASAYFA</a>
                    </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link active">MESAJLARIM <span class="badge badge-info">Yakında</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="groups.html" class="nav-link active">GRUPLARIM</a>
                    </li>
                    <li class="nav-item">
                        <a href="profile.html" class="nav-link active"><i class="fas fa-user"></i> &nbsp;PROFİL</a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
    <header>
     <div class="jumbotron  text-white" style="background-color: white">
            
        </div>


    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="card mb-4">
                        <img src="photos/people.jpg" class="card-img-top img-thumbnail" alt="doga">
                        <div class="card-body">
                            <h4 class="card-title">Etkinlik Adı</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nesciunt ullam nostrum sunt maxime temporibus dolor, incidunt eos sequi ad provident, placeat modi alias excepturi magni, aut accusamus architecto necessitatibus. <button type="button" class="btn btn-light">...</button></p>
                           
                        </div>
                        <div class="card-footer">

                            <ul style="display: inline">
                                <li> <button type="button" class="btn"><i class="fas fa-thumbs-up fa-2x"></i></button></li>
                                <li> <button type="button" class="btn" data-toggle="collapse" data-target="#comment">
                                    <i class=" far fa-comment-alt fa-2x"></i></button></li>
                            </ul>
                            <div class="container">
                                <div class="form-group">
                                    <textarea  id="comment" class="form-control collapse" rows="5" ></textarea>
                                </div>
                            </div>


                        </div>
                    </div>
             

                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-info">
                            <h5>Grup oluştur</h5>
                        </div>
                        <div class="card-body"></div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>
