<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>İletişim</title>
    <meta name="viewport" content="width:device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm" style="background-color: orangered">
        <div class="container">
            <a href="#" class="navbar-brand">
                <i class="fas fa-users"></i> &nbsp;GROUPS
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="hakkimizda.html" class="nav-link active">Hakkımızda</a>
                    </li>

                    <li class="nav-item">
                        <a href="iletisim.html" class="nav-link active">İletişim</a>
                    </li>
                    <li class="nav-item">
                        <a href="gırıs.html" class="nav-link active">Giriş</a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
    <!------------------------------------------------------------------------------------->



    <div id="form3" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="well well-sm">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        AD SOYAD</label>
                                    <input type="text" class="form-control" id="name" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Email </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                                        </div>
                                        <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subject">
                                        Konu</label>
                                    <select id="subject" name="subject" class="form-control" required="required">
                                        <option value="na" selected="">Seçin:</option>
                                        <option value="service">Sorun Bildirim</option>
                                        <option value="suggestions">Öneriler</option>
                                        <option value="product">Yardım</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Mesaj</label>
                                    <textarea name="message" id="message" class="form-control" rows="8" cols="45" required="required" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                    GÖNDER</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>

</body>

</html>
