
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <h2>İsteğiniz alındı.</h2>
        <h4>Alış tarihinizde kitapları almaya gelebilirsiniz.</h4>
    </div>

